body{
    margin: auto;
    background-color: #070C0E;
    max-width: 1345px;
    font-family: 'popins-medium';
    color: #fff;
    cursor: pointer;
}
.manu{
    margin-top: 30px;
    width: 67%;
    height: 7.5%;
    display: flex;
    align-items: center;
}
.logo{
    width: 20%;
    height: 5%;
margin-left: 17%;
}
.abtn{
    margin-left: 90%;
    text-decoration: none;
    font-family: 'popins';
    color: #E5E5E5;
    padding: 10px 30px;
    letter-spacing: 1px;
    font-size: 15px;
    border-radius: 10px;
    border: 1px solid #FC4F4F;
    background-color: transparent;
}
.wrapper{
    margin-top: 3.7%;
    width: 77.5%;
    height: 35.5%;
    margin-left: 11%;
    border: 3px solid #FC4F4F;
    border-radius: 30px;
}
.p{
    color: #E5E5E5;
    font-size: 20px;
    margin-left: 3.7%;
}




