body{
    margin: auto;
    background-color: #070C0E;
    max-width: 1345px;
    font-family: 'Popins';
    color: #fff;
    cursor: pointer;
}
.wrapper{
    margin-top: 3.7%;
    width: 77.5%;
    height: 35.5%;
    margin-left: 11%;
    border: 3px solid #FC4F4F;
    border-radius: 30px;
    justify-content: center;
}
.p{
    font-size: 30px;
    color: #FC4F4F;
    margin-left: 50px;
    margin-top: 20px;
}
span{
    display: flex;
    align-items: center;
}
.icon{
    width: 32px;
    height: 32px;
    margin-left: 50px;
}
.p2{
    margin: 10px;
    font-size: 20px;
}
.p3{
    font-size: 20px;
    text-align: center;
}
.p4{
font-size: 30px;
text-align: center;
color: #FC4F4F;
}
.p5{
    text-align: center;
    font-size: 20px;
}
.end_wrapper{
    background-color: #040607;
    border-top: 2px solid #FC4F4F;
    margin-top: 100px;
    display: flex;
}
.first_block{
    margin-left: 100px;
    margin-top: 10px;
}
.end_p{
    width: 300px;
    font-size: 20px;
    color: #545454;
}
.second_block{
margin-left: 100px;
}
.s_end_p{
    font-size: 20px;
}
.call_p{
    font-size: 15px;
}
.ico{
    width: 30px;
    height: 30px;
}
.ins{
    display: flex;
    justify-content: center;
    align-items: center;
}
.ins_p{
    margin-left: 5px;
    align-items: center;
}
.call_p:hover{
    color: #FC4F4F;
    transition: 0.3s;
}
.ins_p:hover{
    transition: 0.3s;
    color: #FC4F4F;
}
.ico:hover{
    transition: 0.3s;
    filter: grayscale(0.75);
}